<%= form_for(@common_error) do |f| %>
  <% if @common_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_error.errors.count, "error") %> prohibited this common_error from being saved:</h2>

      <ul>
      <% @common_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :error_msg %><br>
    <%= f.text_field :error_msg, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label 'Upload a screenshot' %>
    <%= f.file_field :image %>
  </div>

  <div class="actions", class: "btn btn-primary">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
