<% if @common_errors.exists? %>
    <% @common_errors.each do |common_error| %>
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-md-3">
              <div class="thumbnail">
                <%= image_tag common_error.image.url(:thumb) %>
                <div class="caption">
                  <P class="postby">Posted <%= time_ago_in_words common_error.created_at %> ago </p>
                  <h4><%= common_error.error_msg %></h4>

                  <p><%= common_error.description %></p>

                  <p><%= link_to 'View', common_error %>
                    <% if current_user && (common_error.user == current_user) %>
                        | <%= link_to 'Edit', edit_common_error_path(common_error) %>
                        | <%= link_to 'Delete', common_error, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    <% end %>
                    </div>
              </div>
            </div>
    <% end %>
    </div>
<% else %>
    <h2>No errors have been posted at this time.</h2>
    <%= link_to 'Post new error', new_common_error_path, class: "btn btn-primary" %>
    </div>
<% end %>