<div class="panel panel-default">
  
  <div class="panel-body">
    <%= image_tag @common_error.image.url(:medium) %>
  </div>

    <div class="panel-footer">
      <h4>Description:</h4>
      
      <p><%= @common_error.description %></p>
      
      <p class="postby">
      Posted by: <strong><%= link_to @common_error.user.name, '#' if @common_error.user %></strong> <%= time_ago_in_words @common_error.created_at %> ago
      </p> 
      
      <% if current_user && (@common_error.user == current_user) %>
    
    <p>
      <%= link_to 'Edit', edit_common_error_path(@common_error) %> |
    <% end %>
      <%= link_to 'Back', common_errors_path %>
    </p></br>

  </div>
  </div>
    
</div>